doctype html
html
    head
        link(rel="stylesheet", href="/main.css")
        block title
            title Name Generator
    body
        div.container
            block content
        script(src="/main.js")
