extends ./layouts/base.jade
block title
    title LOTR Character Names
block content
    div.jumbotron
        h1 Character Name Generator
        p A simple name generator that uses your image to find your character/child a name!
        p 60% of the time it works everytime.
        form(name="get-name", action="results", method="post", enctype="multipart/form-data")
            div.form-group
                label(form="image") Choose Image
                input(type="file", name="image")
            button.btn.btn-primary.btn-lg(type="submit", id="submit-button") Find Name
