extends ./layouts/base.jade
block title
    LOTR Character Names
block content
    form(name="get-name", action="results", method="post", enctype="multipart/form-data")
        input(type="file", name="image")
        button(type="submit", id="submit-button") Get Name
