extends ./layouts/base.jade
block title
    title LOTR Character Result!
block content
    div.jumbotron
        p And your Name is!
        h1 #{result.name}
        div.rating
            p Please help us make this site better by rating your name :)
            div.btn-group
                button.btn.btn-default.btn-lg(data-rating="0") 0
                button.btn.btn-default.btn-lg(data-rating="1") 1
                button.btn.btn-default.btn-lg(data-rating="2") 2
                button.btn.btn-default.btn-lg(data-rating="3") 3
                button.btn.btn-default.btn-lg(data-rating="4") 4
                button.btn.btn-default.btn-lg(data-rating="5") 5
    script.
        var buttons = document.querySelectorAll('button');
        for(var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', function(evt){
                var button = evt.target;
                var body = JSON.stringify({
                    rating: parseInt(button.attributes['data-rating'].value)
                });
                var headers = new Headers();
                headers.append('Content-Type', 'application/json');
                fetch('/results/#{result.id}', {
                    method: 'PUT',
                    headers: headers,
                    body: body
                })
                .then(showThanks);;
            });
        }
        function showThanks() {
            var thanks = document.createElement('p');
            thanks.textContent = 'Thanks';
            document.querySelector('.jumbotron').insertBefore(thanks, document.querySelector('.rating'));
            document.querySelector('.rating').remove();
        }
